* {
    margin: 0;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: rgba(255, 255, 255, 0.148);
    --text-color: rgb(0, 0, 0);
    --bg-color: rgb(255, 255, 255);
    --error-color: rgb(208, 7, 7);
    --truth-color: rgb(0, 255, 0);
}

body {
    background-image: url(../templates/img/bg.jpg);
    background-position-x: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login,
.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--main-color);
    backdrop-filter: blur(2px);
    min-height: 450px;
    max-width: 450px;
    width: 100%;
    border-radius: 2.25rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.login h3,
.signup h3 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-color);
}

.login-content,
.signup-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.login-content input,
.signup-content input {
    padding: 12px 20px;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: #000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.login-bottom,
.signup-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    margin-top: auto;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 2rem;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.signup-btn,
.login-btn {
    color: #295d95;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

.signup-btn:hover,
.login-btn:hover {
    color: #5380c2;
}

.signup {
    display: none;
}

.Invalid-email,
.Invalid-pass,
.Invalid-user {
    color: var(--error-color);
    position: absolute;
    bottom: 115px;
    width: 100%;
    text-align: center;
    display: none;
    font-size: 1rem;
    font-weight: 600;
}

.Valid-signup,
.Valid-login {
    color: var(--truth-color);
    position: absolute;
    bottom: 115px;
    width: 100%;
    text-align: center;
    display: non;
    font-size: 1rem;
    font-weight: 350;
}